<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE"/>
    <uses-permission android:name="android.permission.PERMISSION_NAME" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlyphDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GlyphDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Jump Game Service -->
        <service
            android:name=".games.jump.JumpGameService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_basic" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/test_demo" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_basic" />
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />
        </service>
    </application>

</manifest>